<html>
  <body>
    <h1>This is a centos server owned by sambandham sowmya !!!</h1>
    <h2>Hostname : <%=node['hostname']%></h2>
    <h3>IPAddress : <%=node['ipaddress']%></h3>
    <h4>Memory : <%=node['memory']['total']%></h4>
    <h5>CPU : <%=node['cpu']['0']['cache_size']%></h5>
    <img src = "/var/www/html/dog_photo.jpg">
  </body>
</html>

